.btn--primary {
  border: none;
  display: inline-block;
  vertical-align: baseline;
  color: #fff;
  background-color: #0055B8;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 115px;
  max-width: 260px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.btn--secondary {
  color: #0055B8;
  background-color: #FFD600;
}

.hero-btns button:hover {
  opacity: 0.6;
}


.btn--primary:hover {
  opacity: 0.8;
}

.hero-btns button:active , .btn--primary:active{
  opacity: 0.6;
}

.btn--light {
  background-color: #fff;
  border: 1px solid #0055B8;
  color: #0055B8;
  text-align: center;
  text-transform: none;
  padding: 20px 70px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.btn--light:hover {
  background-color: #0055B8;
  color: #fff;
}

.btn--light:active {
  opacity: 0.6;
}
