.img-child {
  height: 100%;
  object-fit: cover;
}

.child-section__content {
  max-width: 60%;
  padding: 40px 50px 50px 80px;
  // max-width: 100%;
}

.child-section__content h3 {
  max-width: 500px;
  background-image: url("../img/bg-logo.png");
  background-repeat: no-repeat;
  background-position: left top 10px;
  background-size: 50%;
}

.child-section__content h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #FFD600;
  margin-bottom: 10px;
}

.section__feautures {
  @include reset-list;
}

.section__feauture {
  display: flex;
}

.section__feauture::before {
  content: "";
  display: block;
  width: 67px;
  height: 67px;
  flex-shrink: 0;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-right: 30px;
}

.section__feauture:nth-child(1)::before {
  background-image: url("../img/expert.png");
}

.section__feauture:nth-child(2)::before {
  background-image: url("../img/care.png");
}

.section__feauture:nth-child(3)::before {
  background-image: url("../img/llocation.png");
}

.section__sub-heading {
  margin-bottom: 5px;
}

.section__feauture p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  max-width: 520px;
}

// .section__feauture:nth-child(1) p, .section__feauture:nth-child(3) p {
//   padding-right: 90px;
// }


@include breakpoint-down (1200) {
  .img-child {
   max-width: 30%;
   flex-grow: 0;
  }
}

@include breakpoint-down (1200) {
  .child-section__content h3 {
    font-size: 30px;
  }

  .child-section__content p {
    max-width: 600px;
  }

  .section__feauture .section__text {
    max-width: 500px;
    padding-right: 0;
  }

  .section__feauture:nth-child(1) p, .section__feauture:nth-child(3) p {
    padding-right: 10px;
  }
}


@include breakpoint-down (1000px) {
  .container--wide {
    flex-direction: column;
    padding-right: 0;
  }

  .img-child {
    width: 100%;
  }
  .child-section__content {
    max-width: 100%;
    padding: 40px 50px 50px 80px;
    // max-width: 100%;
  }
  
}


@include breakpoint-down (640px) {
  .child-section__content {
    max-width: 100%;
    // text-align: center;
    padding: 40px 20px 50px 30px;
    // max-width: 100%;
  }

}


@include breakpoint-down (590px) {
  .section__feauture p {
    display: none;
  }

  .section__feauture {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .section__feauture h4 {
    // text-align: center;
  }
}
