.feautures {
  margin: 0;
  padding: 0;
  margin-top: -182px;
  z-index: 200;
}

.feautures-list {
  @include reset-list;
  display: flex;
}

.feautures .container {
  display: flex;
  align-items: flex-end;
}

.feauture::before {
  content: "";
  width: 86px;
  height: 86px;
  display: block;
  mix-blend-mode: multiply;
  margin-left: auto;
  margin-right: auto;
}

.feauture:nth-child(1)::before {
  background-image: url("../img/caries.png");
}

.feauture:nth-child(2)::before {
  background-image: url("../img/artificial-teeth.png");
}

.feauture {
  padding: 30px 36px;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  background-color: #FFD600;
  border-radius: 5px;
}

.feauture--light {
  background-color:#FFE040;
}

.feauture__heading {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.feauture__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.main-form {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: #0055B8;
  color: #fff;
  border-radius: 5px;
}

.section__subheading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}
.main-form input {
  width: 100%;
  padding: 15px 15px;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.main-form input:not(:last-of-type) {
  transition: all 0.7s ease;
}
.main-form input::placeholder {
  font-weight: 300;
font-size: 14px;
line-height: 16px;
color: rgba(255, 255, 255, 0.5);

}

.checkbox {
  display: flex;
  // font-size: 1.5rem;
  color: var(--color);
  
  &--disabled {
    color: var(--disabled);
  }
  margin-top: 22px;
}

.checkbox__control {
  display: inline-grid;
  width: 35px;
  height: 35px;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
  margin-left: 200px;
  
  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
  
  > * {
    grid-area: checkbox;
  }
  
  input {
    opacity: 0;
    width: 1em;
    height: 1em;
    
    &:focus + .checkbox__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
    }
    
    &:checked + .checkbox__control svg {
      transform: scale(1);
    }
    
    &:disabled + .checkbox__control {
      color: var(--disabled);
    }
  }
}

.feautures input:not(:last-child):focus {
  border-color: #0055B8;
  background-color: #fff;
  color: #0055B8;
}

.feautures input:focus::placeholder {
  color: #0055B8;
}

input.btn--secondary:hover {
  opacity: 0.8;
}

input.btn--secondary {
  color: #0055B8;
 background-color: #FFD600;
 font-weight: 500;
 text-transform: capitalize;
 border: none;
 transition: opacity 0.3s ease;
 margin-top: 0;
}

.form-btn__wrapper {
  margin-top: 15px;
}

input.btn--secondary:active {
  opacity: 0.6;
}

@include breakpoint-down (1139px) {
  .feautures {
    margin-top: -207px;
  }
}

@include breakpoint-down (1004px) {
  .feautures {
    margin-top: -215px;
  }


  .main-form {
    padding: 15px 20px;
  }

  .main--form input {
    padding: 10px 15px;
  }
}


@include breakpoint-down (890px) {
  .feautures-list {
    display: none;
  }

  .main-form {
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@include breakpoint-down (680px) { 
  .main-form {
    width: 100%;
    margin-top: 45%;
  }
}

@include breakpoint-down (540px) { 

  .feautures .container {
    padding: 0;
  }
  .main-form {
    width: 100%;
    margin-top: 60%;
  }

  .checkbox__control {
    margin-left: 100px;
  }
}

@include breakpoint-down (425px) { 
  .main-form {
    width: 100%;
    margin-top: 70%;
  }

  .checkbox__control {
    margin-left: 50px;
  }
}

@include breakpoint-down (385px) { 
  .main-form {
    width: 100%;
    margin-top: 80%;
  }
}



