.services {
  padding: 70px 0;
}

.section__content::before {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #FFD600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.section__content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("../img/bg-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.section__subheading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.section__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.slider-list {
  @include reset-list;
  display: flex;
  overflow-x: hidden;
}

.slider-list li {
  padding: 25px 60px;
  text-align: center;
  max-width: 200px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.slider-list li::before {
  content: "";
  display: block;
  width: 75px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-list li:not(:last-child) {
  margin-right: 40px;
}

.slider-list li:nth-child(1)::before {
  background-image: url("../img/care.png");
}

.slider-list li:nth-child(2)::before {
  background-image: url("../img/wash.png");
}

.slider-list li:nth-child(3)::before {
  background-image: url("../img/search.png");
}

.slider-list li:nth-child(4)::before {
  background-image: url("../img/children.png");
}

.slider-list {
  padding: 30px 70px 30px 30px;
  max-width: 1040px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper button {
  padding: 5px 10px;
  position: absolute;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 1.5px solid #1D6ECB;
border-radius: 5px;
}

.slider-wrapper button img {
  display: block;
}

.slider-next {
  right: 0;
}

.slider-prev {
  left: 0;
}

.services .slider-list li:nth-child(2) .section__sub-heading {
  margin-bottom: 27px;
}

.services .slider-list li:nth-child(3) .section__sub-heading {
  margin-bottom: 27px;
}


.services .section__sub-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.prices::before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background-color: #0A60C3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.prices s {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.25);
  margin: 0;
}

.prices p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0A60C3;
  margin: 0;
}

@include breakpoint-down (580px) {
  .slider-wrapper button {
    display: none;
  }
}

.services .section__text {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}